.main-header {
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

.title {
  margin: 1;
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  margin: 0;
  font-size: rem;
  color: #ccc;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.logout-btn {
  background: red;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
